.register-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9fafb;
}

.register-page-content {
    display: flex;
    justify-content: space-between;
    flex: 1; /* Takes up all available vertical space */
    overflow: hidden;
}

.register-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}